body {font-family: verdana;
  font-size: 1.4em;
}
h1 {
	padding: 10px;
}
p {
	padding: 10px;
	margin: 10px;
}

/* Sharing Interface */
#share {
    text-align: center;
}
#share textarea {
    width: 80%;
    height: 50%;
}


