
/* root element for accordion. decorated with rounded borders and gradient background image */
.accordion {
	background:#FFF;
	width: 631px;
	border:1px solid #333;
	-background:#666;
}

/* accordion header */
.accordion h2 {
	background:#4e2f91;
	margin:0;
	padding:5px 15px;
	font-size:14px;
        color:#fff;
	border:1px solid #fff;
        border-left-width:2px;
        border-right-width:2px;
	cursor:pointer;
}

/* currently active header */
.accordion h2.current {
	cursor:default;
	background-color:#B897E3;
}

/* accordion pane */
.accordion .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	height:400px;
	padding:0px;
	font-size:12px;
}

/* a title inside pane */
.accordion .pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}
