admin/include/arc2/
admin/include/rdfapi-php/

data/CHANGELOG.txt
data/LICENSE.txt  
data/config.ini   
data/extensions/
data/favicon.png  
datalibraries/
data/INSTALL.txt  
data/Makefile     
data/application/
data/config.ini-dist 
data/extensions.ext/
data/index.php