<div class="grapher-ui accordion">
    <h2 class="current">Chart</h2>
    <div id="grapher-vis" class="pane" style="display:block;"></div>
    <h2>Share</h2>
    <div id="grapher-share" class="pane">
        <button class="share-link">Share link</button>
        <button class="embed-code">Embeddable Code</button>
    </div>
    <h2>Configure</h2>
    <div id="grapher-configui" class="pane"></div>
</div>
