<div class"grapher-ui">
    <ul class="tabs">
        <li>
            <a href="#grapher-vis">
                Chart
            </a>
        </li>
        <li>
              <a href="#grapher-share">
                Share
              </a>
         </li>
        <li>
            <a href="#grapher-configui">
                Configure
            </a>
        </li>
    </ul>

    <div class="panes">
        <div id="grapher-vis"></div>
        <div id="grapher-share">
            <button class="share-link">Share link</button>
            <button class="embed-code">Embeddable Code</button>
        </div>
      <div id="grapher-configui"></div>
    </div>

</div>
