<h2>Share</h2>
<div id="share" class="pane">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales velit enim. Morbi ac mauris quis libero aliquet dictum. Mauris ornare, nulla vel laoreet iaculis, lorem dolor venenatis velit, sed consequat augue ligula at augue. Donec nulla magna, eleifend eget ultricies sed, elementum ac orci.</p>
    Link:<input type="radio" name="share_type" value="link" checked="checked"/>
    Embeddable Graph:<input type="radio" name="share_type" value="iframe"/>
    Popout Graph:<input type="radio" name="share_type" value="modal"/>
    <br/>
    <label for="reconfigurable">Reconfigurable:<input type="checkbox" name="reconfigurable"/></label>
    <label for="reshareable">Reshareable:<input type="checkbox" name="reshareable"/></label>
    <textarea class="share_output">
    </textarea>
</div>