<h2>Share</h2>
<div id="share" class="pane">
    <p>Share a link to this graph, or embed it into your own website or blog. Choose from the link (default) or embed options below. Make sure you have given your graph a descriptive title from the 'Configure' tab before sharing. You can choose whether your embedded graph will be re-configurable, or will only display the configuration you currently have selected, and whether it will be shareable once you share or embed it. Please note, embedding uses an iframe, and the pop-up uses &lt;script&gt; tags. Check your website or blog supports these if you have any difficulty embedding this graph.</p>
    <h3>Link:</h3>
	<input type="radio" name="share_type" value="link" checked="checked"/>
    Embeddable Graph:<input type="radio" name="share_type" value="iframe"/>
    Popout Graph:<input type="radio" name="share_type" value="modal"/>
    <br/>
    <label for="reconfigurable">Reconfigurable:<input type="checkbox" name="reconfigurable"/></label>
    <label for="reshareable">Reshareable:<input type="checkbox" name="reshareable"/></label>
    <textarea class="share_output">
    </textarea>
</div>