<div class"grapher-ui">
  <ul>
      <li>
          <a href="#grapher-vis">Chart</a>
          <%= $.View('templates/vis-type-switch.ejs', this) %>
      </li>
      <li>
          <a href="#grapher-configui">
            Configure
          </a>
      </li>
  </ul>
  <div id="grapher-vis"></div>
  <div id="grapher-configui"></div>
</div>
